.news {
    position: relative;
    height: 23rem;
    width: 100%;
}

.txt {
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.txt-2 {
    position: absolute;
    font-size: 14px;
    left: 20px;
    bottom: 40px;
}

.text-3 {
    position: absolute;
    left: 20px;
    bottom: -7px;
}

.height {
    height: 6rem;
}

.body {
    background-image: url("../photos/web.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    z-index: -1;
}

@media screen and (max-width:990px) {
    .margin {
        padding-top: 100px;
    }
}

.download {
    position: absolute;
    color: #ffffff;
    top: -100px;
    right: 25px;
    padding: 0 5px;
    border-radius: 50%;
    font-size: 25px;

}

.earth {
    background-image: url("../photos/earth.jpg");
    @include img();
}

.upper {
    margin-top: 310px;
}

.hubble {
    background-image: url("../photos/hubble_33rd.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    z-index: -1;
}

.up {
    padding-top: 150px;
}