@mixin focus {
    &:focus-visible {
        border: 1px solid blue;
    }
}
@mixin arrow {
    .bi-arrow-right {
        background-color: orangered;
        border-radius: 50%;
        padding: 1px 3px;
        font-size: 12px;
    
        &:hover {
            background-color: red;
        }
    }
}