@include arrow();

.bg-blue {
    background-color: #032685d5;

    .font-head {
        font-size: 1.1rem;

        .feedback {
            padding: 1px;
            border-bottom: 1px solid white;
        }
    }

    .input {
        padding: 5px;
        background-color: black;
        border: 1px solid gray;
        outline: none;
        width: 258px;
        @include focus();

    }

    .input-2 {
        padding: 5px;
        background-color: black;
        border: 1px solid rgb(0, 0, 0);
        outline: none;
        width: 258px;
        @include focus();

    }

    .gray {
        color: rgb(65, 64, 64);
    }

    .img {
        height: 3.8rem;
    }

    .dropdown-toggle {
        border: none;
    }

    .dropdown-header {
        cursor: pointer;
    }

    li {
        padding: 5px;
    }

    #cross {
        margin-left: 6px;
        display: none;
    }

    .tr-hover {
        &:hover {
            background-color: #c2c2c2;
        }
    }

}
#list{
    display: none;
}
.down {
    &:hover {
        border-bottom: 1px dotted white;
    }
}
ul{
    list-style: none;
    gap: 1.3rem;
}
.line{
    border: 1px solid rgb(255, 204, 204);
    
}
#arrow{
    cursor: pointer;
}
#arrow-2{
    display: none;
    cursor: pointer;
}
#list-2{
    display: none;
}

    @media screen and (max-width:990px) {
        .media{
            display: none;
        }
    }
