@include arrow();

.bg-blue {
    background-color: #032685d5;

    .font-head {
        font-size: 1.1rem;

        .feedback {
            padding: 1px;
            border-bottom: 1px solid white;
        }
    }

    .input {
        padding: 5px;
        background-color: black;
        border: 1px solid gray;
        outline: none;
        width: 258px;
        @include focus();

    }

    .input-2 {
        padding: 5px;
        background-color: black;
        border: 1px solid rgb(0, 0, 0);
        outline: none;
        width: 258px;
        @include focus();

    }

    .gray {
        color: rgb(65, 64, 64);
    }

    .img {
        height: 3.8rem;
    }

    .dropdown-toggle {
        border: none;
    }

    .dropdown-header {
        cursor: pointer;
    }

    li {
        padding: 5px;
    }

    #cross {
        margin-left: 6px;
        display: none;
    }

    .tr-hover {
        &:hover {
            background-color: #c2c2c2;
        }
    }

}

#list {
    display: none;
}

.down {
    &:hover {
        border-bottom: 1px dotted white;
    }
}

.space {
    list-style: none;
    gap: 1.3rem;
}

.space-2 {
    list-style: none;
    gap: 0.99999rem;
}

.line {
    border: 1px solid rgb(255, 204, 204);

}

#arrow {
    cursor: pointer;
}

#arrow-2 {
    display: none;
    cursor: pointer;
}

#list-2 {
    display: none;
}

.list {
    display: flex;
}

.list-img {
    width: 17rem;
    height: 24rem;
}

.img-list {
    height: 14em;
}

.line-2 {
    border-right: 1px solid #5c5c5c;
    padding-right: 13px;
}

.fs {
    font-size: 13px;
}