html {
  scroll-behavior: smooth;
}

.arrow {
  background-color: orangered;
  border-radius: 50%;
  padding: 1px 3px;
  font-size: 12px;
}
.arrow:hover {
  background-color: red;
}

.bg-blue {
  background-color: rgba(3, 38, 133, 0.8352941176);
}
.bg-blue .font-head {
  font-size: 1.1rem;
}
.bg-blue .font-head .feedback {
  padding: 1px;
  border-bottom: 1px solid white;
}
.bg-blue .input {
  padding: 5px;
  background-color: black;
  border: 1px solid gray;
  outline: none;
  width: 258px;
}
.bg-blue .input:focus-visible {
  border: 1px solid rgb(0, 110, 255);
}
.bg-blue .input-2 {
  padding: 5px;
  background-color: black;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  width: 258px;
}
.bg-blue .input-2:focus-visible {
  border: 1px solid rgb(0, 110, 255);
}
.bg-blue .gray {
  color: rgb(65, 64, 64);
}
.bg-blue .img {
  height: 3.8rem;
}
.bg-blue .dropdown-toggle {
  border: none;
}
.bg-blue .dropdown-header {
  cursor: pointer;
}
.bg-blue li {
  padding: 5px;
}
.bg-blue #cross {
  margin-left: 6px;
  display: none;
}
.bg-blue .tr-hover:hover {
  background-color: #c2c2c2;
}

#list {
  display: none;
}

.down:hover {
  border-bottom: 1px dotted white;
}

.space {
  list-style: none;
  gap: 1.3rem;
}

.space-2 {
  list-style: none;
  gap: 0.99999rem;
}

.line {
  border: 1px solid rgb(255, 204, 204);
}

#arrow {
  cursor: pointer;
}

#arrow-2 {
  display: none;
  cursor: pointer;
}

#list-2 {
  display: none;
}

.list {
  display: flex;
}

.list-img {
  width: 17rem;
  height: 24rem;
}

.img-list {
  height: 14em;
}

.line-2 {
  border-right: 1px solid #5c5c5c;
  padding-right: 13px;
}

.fs {
  font-size: 13px;
}

.nasa {
  background-image: url("../photos/nasa-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  z-index: -1;
}

.plane {
  background-image: url("../photos/plane-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  z-index: -1;
  display: none;
}

.astroid {
  background-image: url("../photos/astroid-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  z-index: -1;
  display: none;
}

.rex {
  background-image: url("../photos/osiris-rex-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  z-index: -1;
  display: none;
}

.small {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.text {
  margin-top: 130px;
}

.text-2 {
  margin-top: 100px;
}

.button {
  margin-top: 20px;
  background-color: orangered;
  border-radius: 7px;
  padding: 10px;
  font-size: 24px;
}
.button:hover {
  background-color: red;
}

.border-up {
  border-top: 1px solid rgb(148, 148, 148);
  margin-top: 35px;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(3, 38, 133, 0.8352941176);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 25, 94, 0.8352941176);
}

.news {
  position: relative;
  height: 23rem;
  width: 100%;
}

.txt {
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 20px;
}

.txt-2 {
  position: absolute;
  font-size: 14px;
  left: 20px;
  bottom: 40px;
}

.text-3 {
  position: absolute;
  left: 20px;
  bottom: -7px;
}

.height {
  height: 6rem;
}

.body {
  background-image: url("../photos/web.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  z-index: -1;
}

@media screen and (max-width: 990px) {
  .margin {
    padding-top: 100px;
  }
}
.download {
  position: absolute;
  color: #ffffff;
  top: -100px;
  right: 25px;
  padding: 0 5px;
  border-radius: 50%;
  font-size: 25px;
}

.earth {
  background-image: url("../photos/earth.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  z-index: -1;
}

.upper {
  margin-top: 310px;
}

.hubble {
  background-image: url("../photos/hubble_33rd.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  z-index: -1;
}

.up {
  padding-top: 150px;
}

/*# sourceMappingURL=style.css.map */
